* {
  box-sizing: border-box;
}

body {
  background-color: #12131d;
  width: 100%;
  height: 181.2vw;
  display: flex;
  flex-direction: column;
}
.screen-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 52.4vw;
  overflow: hidden;
}

.text-1 {
  width: 100vw;
  height: 3.6vw;
  background-image: url('../images/rectangle.svg');
  background-size: cover;
  display: flex;
  padding: 0.7vw;
  justify-content: center;
  align-items: center;
  gap: 21.5vw;
  font-size: 2vw;
  font-family: 'Stark';
  color: #fffaee;
  filter: blur(0.05vw);
  -webkit-text-stroke: 0.13vw #f7ac00;
}

.illinclogo {
  position: absolute;
  left: 3vw;
  top: -2vw;
  width: 94.8vw;
  height: 61vw;
}

.frame {
  position: absolute;
  left: 0vw;
  top: 3.59vw;
  width: 100vw;
  height: 48.8vw;
}

.clock {
  position: absolute;
  left: 89.3vw;
  top: 7.6vw;
  font-family: 'Stark';
  font-size: 2vw;
  color: #fffaee;
  filter: blur(0.05vw);
  -webkit-text-stroke: 0.1vw #f7ac00;
}

.screen-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 43.5vw;
  overflow: hidden;
}

.text-2 {
  width: 100vw;
  height: 3.6vw;
  background-image: url('../images/rectangle.svg');
  background-size: cover;
  display: flex;
  padding: 0.7vw;
  justify-content: center;
  align-items: center;
  gap: 3.7vw;
  font-size: 2vw;
  font-family: 'Stark';
  color: #fffaee;
  filter: blur(0.05vw);
  -webkit-text-stroke: 0.13vw #f7ac00;
}

.button1 {
  width: 22.5vw;
  height: 27.1vw;
  position: absolute;
  top: 9vw;
  left: 3vw;
  background-image: url('../images/button1.svg');
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  padding: 0;
}

.button1:hover {
  opacity: 2s;
  background-image: url('../images/button1hover.jpg');
  background-size: cover;
  background-position: center;
}

.button2 {
  width: 18.3vw;
  height: 27.6vw;
  position: absolute;
  left: 39vw;
  top: 13vw;
  background-image: url('../images/button2.svg');
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  padding: 0;
}

.button2:hover {
  opacity: 2s;
  background-image: url('../images/button2hover.jpg');
  background-size: cover;
  background-position: center;
}

.button3 {
  width: 24.4vw;
  height: 28.4vw;
  position: absolute;
  top: 10vw;
  left: 70vw;
  background-image: url('../images/button3.svg');
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  padding: 0;
}

.button3:hover {
  background-image: url('../images/button3hover.jpg');
  background-size: cover;
  background-position: center;
}

.screen-3 {
  display: flex;
  position: relative;
  width: 100%;
  height: 71.6vw;
  overflow: hidden;
}

.photo1 {
  width: 58vw;
  height: 40.3vw;
  /* position: absolute;
  top: 0vw;
  left: 2vw; */
  position: absolute;
  cursor: pointer;
}

.photo2 {
  width: 54.2vw;
  height: 34.3vw;
  /* position: absolute;
  top: 15vw;
  left: 44vw; */
  position: absolute;
  cursor: pointer;
}

.photo3 {
  width: 55vw;
  height: 35.7vw;
  /* position: absolute;
  top: 34vw;
  left: 3vw; */
  position: absolute;
  cursor: pointer;
}

.photofilm {
  width: 20.1vw;
  height: 20.1vw;
  /* position: absolute;
  top: 5vw;
  left: 56vw; */
  position: absolute;
  cursor: pointer;
}

.names {
  width: 33vw;
  height: 18vw;
  /* position: absolute;
  top: 45vw;
  left: 51vw; */
  position: absolute;
  cursor: pointer;
}

.film1 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-image: url('../images/rectangle.svg');
  background-size: cover;
  /* background-color: #c5c4c4; */
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}
/* .section.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-in-out;
  overflow: auto;
} */
